<!DOCTYPE html>

<html >

    <head>

        <meta charset="UTF-8">

        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
            <link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}

    </head>

    <body>
        <div class="contain">

            {% block body %}
            {% endblock %}

        </div>

        {% block javascripts %}

            <script src="{{ asset('bundles/app/js/index.js') }}"></script>

        {% endblock %}

    </body>

</html>
