<div class="tile">
    <div class="tile__media">
        <img class="tile__img" src="{{ url }}" alt=""  />
    </div>
    <div class="tile__details">
        <div class="tile__title">
            Top Gear
        </div>
    </div>
</div>